@media (max-width: 992px ) {
    h1{
        font-size: 20px !important;
    }
    .head-bun{
        display: block !important;
    }
    header .navbar{ 
        position: absolute; 
        top: 23%;
        left: -33%;
        background: #fff; 
        width: 33%;
        z-index: 9999;
    }
    header .menu{ 
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    header .menu ul li a{ 
        text-align: center;
    }
    .w-n-2 {
        display: none;
    }

}
@media (min-width: 768px){
    .container {
    max-width: max-content !important;
    }
} 